* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #000000;
  font-family: "Heebo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.button-login {
  background: rgba(237, 1, 127, 1);
}

.button-register {
  background: rgba(94, 100, 255, 1);
}

.inactive {
  background: rgb(231, 137, 187);
}
